# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  scatterplot3d,
  rgl,
  stats, 
  graphics,
  grDevices
)

# S3 methods
S3method(bpca,default)
S3method(bpca,prcomp)
S3method(plot,bpca.2d)
S3method(plot,bpca.3d)
S3method(plot,qbpca)
S3method(print,latex.bpca)
S3method(summary,bpca)
S3method(summary,latex.bpca)
